################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DatingAppAPI/bin/Debug/net9.0
/DatingAppAPI/obj/Debug/net9.0/ref
/DatingAppAPI/obj/Debug/net9.0/refint
/DatingAppAPI/obj/Debug/net9.0/staticwebassets
/DatingAppAPI/.vs/DatingAppAPI/FileContentIndex/0e933539-f583-4372-a566-20c2f4db5d2d.vsidx
/DatingAppAPI/.vs/DatingAppAPI/FileContentIndex/111242f1-5f64-420d-a08e-82cbae3ca482.vsidx
/DatingAppAPI/.vs/DatingAppAPI/FileContentIndex/b9a6a919-c20e-4563-bd86-7c57416c935b.vsidx
/DatingAppAPI/.vs/DatingAppAPI/FileContentIndex/e7d8d9c3-1e65-416e-a53c-84f5de49a577.vsidx
/DatingAppAPI/obj/API.csproj.EntityFrameworkCore.targets
/DatingAppAPI/obj/API.csproj.nuget.dgspec.json
/DatingAppAPI/obj/API.csproj.nuget.g.props
/DatingAppAPI/obj/API.csproj.nuget.g.targets
/DatingAppAPI/obj/Debug/net9.0/API.AssemblyInfo.cs
/DatingAppAPI/obj/Debug/net9.0/API.AssemblyInfoInputs.cache
/DatingAppAPI/obj/Debug/net9.0/API.assets.cache
/DatingAppAPI/obj/Debug/net9.0/API.csproj.AssemblyReference.cache
/DatingAppAPI/obj/Debug/net9.0/API.csproj.CoreCompileInputs.cache
/DatingAppAPI/obj/Debug/net9.0/API.csproj.FileListAbsolute.txt
/DatingAppAPI/obj/Debug/net9.0/API.dll
/DatingAppAPI/obj/Debug/net9.0/API.GeneratedMSBuildEditorConfig.editorconfig
/DatingAppAPI/obj/Debug/net9.0/API.genruntimeconfig.cache
/DatingAppAPI/obj/Debug/net9.0/API.pdb
/DatingAppAPI/obj/Debug/net9.0/API.sourcelink.json
/DatingAppAPI/obj/Debug/net9.0/apphost.exe
/DatingAppAPI/obj/project.assets.json
/DatingAppAPI/obj/project.nuget.cache
